* {
  box-sizing: border-box;
}

header {
  margin: auto;
  text-align: center;
  position: relative;
  /*border: black solid 2px;*/
  width: 450px;
}

#dots {
  font-family:'Codystar', cursive;
  font-size: 65px;
  text-align: center;
  letter-spacing: 10px;
  display: inline-block;
}

#boxes{
  font-family: 'Bungee Hairline', cursive;
  font-size: 90px;
  padding: 0;
  text-align: center;
}

#and{
  font-family: 'Questrial', cursive;
  font-size: 20px;
  letter-spacing: 40px;
  text-align: center;
  display: inline-block;
}

#turnMessage, #playAgain, #message{
  font-family: 'Questrial', cursive;
  font-size: 12px;
  letter-spacing: 5px;
  text-align: center;
  padding: 15px;
}

#playAgain:hover {
  color: purple;
}

table {
  margin: auto;
}

td {
  padding: 0;
  text-align: center;
  /*border: 2px solid red;*/
}

div.box {
  border: black solid 1px;
  width: 40px;
  height:40px;
  padding: 0;
  background-color: transparent;
}

main{
  margin: auto;
  border: 2px solid yellow;
  width: 908px;
}

#board {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  border: 2px solid purple;
  display: inline-block;
  overflow: auto;
}

#player1 {
  border: 2px solid blue;
  display: inline-block;
  font-family: 'Questrial', cursive;
  letter-spacing: 8px;
  float: left;
  text-align: center;
  margin: 10px;
  color: #1FE5BB;
}

#score1 {
  padding: 10px;
}

#score2 {
  padding: 10px;
}

#player2 {
  border: 2px solid blue;
  display: inline-block;
  font-family: 'Questrial', cursive;
  letter-spacing: 8px;
  float: right;
  text-align: center;
  margin: 10px;
  color: #FF5733;
}

div .H {
  width: 40px;
  height:3px;
  background-color: transparent;
  padding: 0;
  margin: auto;
  /*border: 2px solid orange;*/
}

div.line:hover{
  background-color: black;
}

div.line:hover{
  background-color: black;
}

div .V {
  width: 3px;
  height:40px;
  background-color: transparent;
  padding: 0;
  margin: auto;
  /*border: 2px solid orange;*/
}

div #square {
  background-color: none;
}

/*@media screen and (min-width: 520px;){
  #board {
    width: ;
  }
}
*/
